@import 'vars';

.match-info {
    display: flex;
    gap: 2rem;
    background-image: linear-gradient(104deg, #111 10%, #0c1330 100%);
    padding: 1rem;
    color: #fff;
    // margin: 1.75rem 0 0;

    @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        margin: 0;
        padding: 2rem 0.5rem 1rem;
    }
    // @media (max-width: 575px) {
    //     padding: 2rem 0.5rem;
    // }

    &__title {
        margin-bottom: 1rem;
        h3 {
            text-transform: uppercase;
            font-size: 1.7rem;
            margin: 0 0 0.2rem;
        }
    }

    .date {
        font-weight: 400;
        span {
            display: block;
            margin: 0.3rem 0;
        }
    }

    &__details {
        border-right: 1px solid rgba(#fff, 0.3);
        padding-right: 2rem;

        @media (max-width: 768px) {
            border: none;
            padding: 0;
        }
    }
}

.tv-orgs {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;

    h4 {
        margin-bottom: 0.8rem;
        @media (max-width: 768px) {
            text-align: center;
            margin: 1rem auto;
        }
    }

    .tv {
        display: flex;
        gap: 0.5rem;
        margin-bottom: 1.5rem;

        @media (max-width: 768px) {
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        img {
            width: 6rem;
            object-fit: cover;
        }
    }

    h4 {
        margin-top: 0.25rem;
        font-size: 1.25rem;

        svg {
            vertical-align: top;
        }
    }

    ul {
        margin: 0;
        list-style: none;
        padding: 0;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;

        @media (max-width: 768px) {
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        li {
            padding: 0.5rem 0.7rem;
            background: black;
            font-weight: 600;

            &:first-of-type {
                background-color: #f8ba4b;
                color: #212529;
            }
            &:nth-of-type(2) {
                background-color: #0b8110;
                color: #fff;
            }
            &:nth-of-type(3) {
                background-color: #1b1b1b;
                color: #fff;
            }
            &:nth-of-type(4) {
                background-color: #ba0101;
                color: #fff;
            }
        }
        &:nth-of-type(5) {
            background-color: #76011b;
            color: #fff;
        }
    }
}
